<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'style', :plugin => 'redmine_extended_spent_time' %>
  <%= javascript_include_tag 'timelog', :plugin => 'redmine_extended_spent_time' %>
<% end %>

<%= render :partial => 'my/blocks/log' %>

<script type="text/javascript">
//<![CDATA[
document.observe('dom:loaded', function() {
  new ExtendedSpentTimePlugin.OptionsDisplayWidget("<%= url_for(:controller => 'extended_spent_time', :action => 'update') %>");
});
//]]>
</script>