.clearfix:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix {display:block;}

h3 span.select-link-label{
	color:#888;
	font-size:11px;
	font-weight:normal;
}
h3 a.select-link{
	font-size:11px;
	font-weight:normal;
	padding:1px 8px;
}
h3 a.select-link:hover{
	color:#000;
}
h3 a.select-link.current{
	border:1px solid #aaa;
	background-color:#eee;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	text-shadow: 0 1px 0 #fff;
}
h3 .spent-time-options-container{
	float:right;
}